.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
tests/**
*.md
!README.md
CHANGELOG.md
PUBLISH.md
TESTE.md
TESTING.md
test.php
*.vsix
package-lock.json
yarn.lock
extension.js

